@mixin icon-hover {
    cursor: pointer;
    font-size: 32px;
    transition: all 0.2s ease-out;
    &:hover {
      color: azure;
    }
    &.disabled {
      opacity: 0.7;
      color: #2a3843;
      cursor: default;
      &:hover {
        color: #2a3843
      }
    }
  }